// app global css in SCSS form
$mainColor:#e66457;
$leader:#978bf9;
$font:#505050;

.main {
  color: $mainColor;
}
.font {
  color: $font;
}
.main-b {
  background-color: $mainColor;
}
.leader {
  color: $leader;
}
.leader-b {
  background-color: $leader;
}

.q-uploader--dark .q-uploader__list {
  background: #f2f2f2;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

.tag {
  min-width: 150px;
  width:42vw;
  padding:20px;
  border-radius: 14px;
  background-color: #ff9800;
}

.tag2 {
  min-width: 150px;
  width:42vw;
  padding:20px;
  border-radius: 14px;
  background-color: #26A69A;
}

.rank {
  margin-right:15px;
  width:24px;
  height:24px;
  padding:10px;
  border-radius: 50%;
}

.q-timeline__title {
  color:$mainColor;
}

.time-box {
  display: inline-block;
  border-radius: 15px;
  padding:5px 10px;
  background-color: #f2f2f2;
}

.message-box {
  display: inline-block;
  border-radius: 0 10px 10px 10px;
  padding:15px;
  background-color: #d4d0d0;
}

.van-image-preview {
  z-index: 9999 !important;
}
.van-overlay, .van-image-preview__overlay {
  z-index: 9999 !important;
}

.van-toast {
  z-index:10000 !important;
}